@model IEnumerable<ShoppingCart.Models.ProductItem>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductItemBrand)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductItemBrand.Brand)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}